body {
color; white; background:none;

font-family: 'Open Sans', sans-serif;

a:hover;

}


p {
	width: 400px;
margin-bottom: 100px;
padding-left: 20px;
border: 0px solid red;
font-size: 10px;
}

#special-paragraph { 

text-align: right;
padding-left: 200px;
top: 40px
left: 100px;
position: absolute;
}

#projects{
	position: absolute;
	right: 500px;
}

#exercises{

	position: absolute;
	left: 500px;
}