
body {
margin: 0;	
}


.copy{

}


.container{
	left: 0;
	top: 0;
	width: 4000px;
	height: 108px;
/*	background: #2A9E77;*/
	position: relative;
}


/*Typeface*/
.DanType{
	position: absolute;
	transform: rotate(0deg);
}

.DanTypeA{
	left: 1px;
	top: 0px;
	z-index: 21;
}
/*.DanTypeB{
	left: 120px;
	top: 0px;
}*/
.DanTypeC{
	left: 120px;
	top: 0px;
}
.DanTypeD{
	left: 239px;
	top: 0px;
}
.DanTypeE{
	left: 358px;
	top: 0px;
}
.DanTypeF{
	left: 478px;
	top: 0px;
}
.DanTypeG{
	left: 597px;
	top: 0px;
}
.DanTypeH{
	left: 717px;
	top: 0px;
}
.DanTypeI{
	left: 836px;
	top: 0px;
}
.DanTypeJ{
	left: 956px;
	top: 0px;
}
.DanTypeK{
	left: 1075px;
	top: 0px;
}
.DanTypeL{
	left: 1195px;
	top: 0px;
}
.DanTypeM{
	left: 1315px;
	top: 0px;
}
.DanTypeN{
	left: 1435px;
	top: 0px;
}
.DanTypeO{
	left: 1555px;
	top: 0px;
}
.DanTypeP{
	left: 1675px;
	top: 0px;
}
.DanTypeQ{
	left: 1794px;
	top: 0px;
}
.DanTypeR{
	left: 1914px;
	top: 0px;
}




/*TypefaceFrame*/
.typefaceFrame{
	position: absolute;
	opacity: 1;
	
}

.Aa{
	left: 10px;
	top: 100px;
	

}

.container1{
	position: relative;

}

.container2{
	position: relative;
    left: 60px;
    top: 104px;
    z-index: -2;
}

.container3{
	position: relative;
    z-index: -3;
    top: 208px;
    left: 0px;
}

.container4{
	position: relative;
    z-index: -4;
    top: 312px;
    left: 60px;
}
/*HEXATYPE*/

.hexagroupTYPE{
	position: absolute;
	top: -26px;
	left: -213px;
	/*transition: 1s;*/
}

/*.hexagroupTYPE:hover{
	transform: rotate(0deg) translate(100px);	
}*/
.hexagroupTYPE1{

}

	.TYPE1BP{
		top:10px;
		left: 111px;
		z-index: 19;
	}
	.TYPE1RP{
		top: -23px;
		left: 130px;
		z-index: 10;
	}
	.TYPE1YP{
		top: -75px;
		left: 160px;
		z-index: 9;
	}

.hexagroupTYPE2{

}

/*	.TYPE2YP{
		top: 30px;
		left: 100px;
		z-index: 19;
	}
	.TYPE2RP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}
	.TYPE2BP{
		top: -74px;
		left: 160px;
		z-index: 9;
		
	}
*/
.hexagroupTYPE3{

}

	.TYPE3BKP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE3RP{
		top: 10px;
		left: 112px;
		z-index: 19;
		
	}
	.TYPE3BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}

.hexagroupTYPE4{

}

	.TYPE4BP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE4RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE4YP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}

.hexagroupTYPE5{

}

	.TYPE5BKP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE5RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE5BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}
.hexagroupTYPE6{

}

	.TYPE6YP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE6RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE6BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}	
	
.hexagroupTYPE7{

}

	.TYPE7BKP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE7RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE7BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}	
.hexagroupTYPE8{

}

	.TYPE8YP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE8RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE8BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}

.hexagroupTYPE9{

}

	.TYPE9BKP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE9RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE9BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}

.hexagroupTYPE10{

}

	.TYPE10YP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE10RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE10BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}

.hexagroupTYPE11{

}

	.TYPE11BKP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE11RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE11BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}

.hexagroupTYPE12{

}

	.TYPE12YP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE12RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE12BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}		
.hexagroupTYPE13{

}

	.TYPE13BKP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE13RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE13BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}	

.hexagroupTYPE14{

}

	.TYPE14YP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE14RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE14BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}	

.hexagroupTYPE15{

}

	.TYPE15BKP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE15RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE15BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}	

.hexagroupTYPE16{

}

	.TYPE16YP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE16RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE16BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}	

.hexagroupTYPE17{

}

	.TYPE17BKP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE17RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE17BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}	

.hexagroupTYPE18{

}

	.TYPE18YP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE18RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE18BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}	




		

/*HEXATYPE END*/


/*HEXACOLOR*/
.hexagongroupYellow {
	position: absolute;

}
	.hexagon-10{
	float: left;
	border-right: 30px solid #E5E243;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
	top: 100px;
	left: 113px;
	z-index: 11;
	position: absolute;
	}

	.hexagon-11{
	float: left;
	width: 60px;
	height: 104px;
	background-color: #E5E243;
	top: 100px;
	left: 143px;
	position: absolute;
	z-index: 12;
	}
	.hexagon-12{
	float: left;
	border-left: 30px solid #E5E243;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
	z-index: 10;
	top: 100px;
	left: 203px;
	position: absolute;
	}
	
	

.hexagongroupRed {
position: absolute;

}
	.hexagon-13{
	float: left;
	border-right: 30px solid #D8221D;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
	top: 100px;
	left: 113px;
	z-index: 11;
	position: absolute;


	}

	.hexagon-14{
	float: left;
	width: 60px;
	height: 104px;
	background-color: #D8221D;
	top: 100px;
	left: 143px;
	position: absolute;
	z-index: 12;

	}

	.hexagon-15{
	float: left;
	border-left: 30px solid #D8221D;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
	z-index: 10;
	top: 100px;
	left: 203px;
	position: absolute;
	}



.hexagongroupBlue {
	
	position: absolute;
	z-index: 9;
}
	.hexagon-16{
		float: left;
		border-right: 30px solid #1A4492;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-17{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #1A4492;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-18{
		float: left;
		border-left: 30px solid #1A4492;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}





.hexagongroupBlack {
	position: absolute;
	z-index: 9;
}
	.hexagon-1{
		float: left;
		border-right: 30px solid #1A4492;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-2{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #1A4492;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-3{
		float: left;
		border-left: 30px solid #1A4492;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}

	.hexagon-4{
		float: left;
		border-right: 30px solid #6CBBA2;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-5{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #6CBBA2;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-6{
		float: left;
		border-left: 30px solid #6CBBA2;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}

	.hexagon-7{
		float: left;
		border-right: 30px solid #67B032;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-8{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #67B032;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-9{
		float: left;
		border-left: 30px solid #67B032;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}


	.hexagongroupBlack {
	position: absolute;
	z-index: 9;
}
	.hexagon-1{
		float: left;
		border-right: 30px solid #1A4492;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-2{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #1A4492;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-3{
		float: left;
		border-left: 30px solid #1A4492;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}

	.hexagon-4{
		float: left;
		border-right: 30px solid #6CBBA2;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-5{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #6CBBA2;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-6{
		float: left;
		border-left: 30px solid #6CBBA2;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}

	.hexagon-7{
		float: left;
		border-right: 30px solid #67B032;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-8{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #67B032;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-9{
		float: left;
		border-left: 30px solid #67B032;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}

	.hexagongroupBlack {
	position: absolute;
	z-index: 9;
}
	.hexagon-1{
		float: left;
		border-right: 30px solid #1A4492;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 112px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-2{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #1A4492;
		top: 100px;
		left: 142px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-3{
		float: left;
		border-left: 30px solid #1A4492;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 202px;
		position: absolute;
	}

	.hexagon-4{
		float: left;
		border-right: 30px solid #6CBBA2;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-5{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #6CBBA2;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-6{
		float: left;
		border-left: 30px solid #6CBBA2;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}

	.hexagon-7{
		float: left;
		border-right: 30px solid #67B032;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-8{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #67B032;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-9{
		float: left;
		border-left: 30px solid #67B032;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}

	



/*HEXACOLOR END*/



/*hexgroup1 end*/


/*.3hexagroup {
top: 20px;
left: 20px;
z-index: 10;
position: absolute;
}



.hexagon-01{
float: left;
border-right: 30px solid #E5E243;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
top: 99px;
left: 113px;
z-index: 11;
position: relative;


}

.hexagon-02{
float: left;
width: 60px;
height: 104px;
background-color: #E5E243;
top: 100px;
left: 143px;
position: absolute;
z-index: 12;

}

.hexagon-03{
float: left;
border-left: 30px solid #E5E243;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
z-index: 10;
top: 100px;
left: 203px;
position: absolute;
}



.hexagon-04{
float: left;
border-right: 30px solid #D8221D;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
top: 100px;
left: 113px;
z-index: 11;
position: absolute;


}

.hexagon-05{
float: left;
width: 60px;
height: 104px;
background-color: #D8221D;
top: 100px;
left: 143px;
position: absolute;
z-index: 12;

}

.hexagon-06{
float: left;
border-left: 30px solid #D8221D;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
z-index: 10;
top: 100px;
left: 203px;
position: absolute;
}



.hexagon-07{
float: left;
border-right: 30px solid #1A4492;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
top: 100px;
left: 113px;
z-index: 11;
position: absolute;


}

.hexagon-08{
float: left;
width: 60px;
height: 104px;
background-color: #1A4492;
top: 100px;
left: 143px;
position: absolute;
z-index: 12;

}

.hexagon-09{
float: left;
border-left: 30px solid #1A4492;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
z-index: 10;
top: 100px;
left: 203px;
position: absolute;
}


*/











