
body {
margin: 0;	

font-family: 'Space Mono', monospace;
}


.copy{

}
#info{
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 12px;
	right: 10px;
	margin-top: 20px;
	margin-left: 10px;
}

#info1{
	    position: absolute;
    bottom: -17px;
    left: 0px;
    font-size: 10px;
    right: 10px;
}


.TypefaceOriginalFrameA {
	z-index: 21;
	position: absolute;
	top: 80px;
	left: 15px;
	transform: scale(0.57);
}

.TypefaceOriginalFrameB {
	z-index: 21;
	position: absolute;
	top: 103px;
	left: 226px;
	transform: scale(0.56);
}

.TypefaceOriginalFrameB3{
	z-index: 23;

	position: absolute;
	top: 83px;
	left: 15px;
}

.TypefaceOriginalFrameC {
	z-index: 21;
	position: absolute;
	top: 106px;
    left: 226px;
	transform: scale(0.56);
}
.TypefaceOriginalFrameD {
	z-index: 21;
	position: absolute;
	top: 106px;
    left: 226px;
	transform: scale(0.56);
}
.TypefaceOriginalFrameE {
	z-index: 21;
	position: absolute;
	top: 106px;
    left: 226px;
	transform: scale(0.56);
}
.TypefaceOriginalFrameF {
	z-index: 21;
	position: absolute;
	top: 106px;
    left: 227px;
	transform: scale(0.56);
}
.TypefaceOriginalFrameG {
	z-index: 21;
	position: absolute;
	    top: 106px;
    left: 227px;	transform: scale(0.56);
}
.TypefaceOriginalFrameH {
	z-index: 21;
	position: absolute;
	    top: 106px;
    left: 227px;
	transform: scale(0.56);
}
.TypefaceOriginalFrameI {
	z-index: 21;
	position: absolute;
	top: 106px;
    left: 227px;
	transform: scale(0.56);
}
.TypefaceOriginalFrameJ {
	z-index: 21;
	position: absolute;
	top: 106px;
    left: 226px;

	transform: scale(0.56);
}
.TypefaceOriginalFrameK {
	z-index: 21;
	position: absolute;
	top: 106px;
    left: 227px;
	transform: scale(0.56);
}
.TypefaceOriginalFrameL {
	z-index: 21;
	position: absolute;
	    top: 106px;
    left: 227px;
	transform: scale(0.56);
}
.TypefaceOriginalFrameM {
	z-index: 21;
	position: absolute;
	    top: 106px;
    left: 227px;

	transform: scale(0.56);
}
.TypefaceOriginalFrameN {
	z-index: 21;
	position: absolute;
	top: 106px;
    left: 227px;
	transform: scale(0.56);
}
.TypefaceOriginalFrameO {
	z-index: 21;
	position: absolute;
	    top: 106px;
    left: 227px;
	transform: scale(0.56);
}
.TypefaceOriginalFrameP {
	z-index: 21;
	position: absolute;
	    top: 106px;
    left: 227px;
	transform: scale(0.56);
}
.TypefaceOriginalFrameQ {
	z-index: 21;
	position: absolute;
	    top: 106px;
    left: 227px;
	transform: scale(0.56);
}
.TypefaceOriginalFrameR {
	z-index: 21;
	position: absolute;
	top: 106px;
    left: 226px;
	transform: scale(0.56);
}
.TypefaceOriginalFrameS {
	z-index: 21;
	position: absolute;
	top: 106px;
    left: 226px;
	transform: scale(0.56);
}
.TypefaceOriginalFrameT {
	z-index: 21;
	position: absolute;
	top: 106px;
    left: 226px;
	transform: scale(0.56);
}

/*.container{
	width: calc(120*18px);
	height: 108px;
	background: #2A9E77;
	position: relative;
	left: 0;
	top: 0;
	margin-left: -10px;
}*/
/* 글자체 올리기*/

/*단청 그룹 행*/
.row0{
	position: absolute;
	
}
.row1 {
	z-index: 12;
}
.row2 {
	top:104px;
	left: -60px;
	z-index: 10;
}
.TypefaceMain .row1{
	z-index: 20;
}
.TypefaceMain .row2{
	z-index: 19;
}
/*단청 그룹 행 end*/

/*hover function*/
.TypefaceFrame{
	
	opacity: 0;
	transition: 400ms all;
	transform: translate(1px,-1px) scale(0.57);
}
.DanType:hover .TypefaceFrame{
	opacity: 1;
	transform: scale(0.58);
	z-index: 1000;
	position: absolute;
}
/*hover function end*/

.hexa1 {
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(54% 8%, 79% 51%, 51% 100%, 0 100%);
    top: -2px;
    left: -6px;

}
.hexa2 {
background: #000000;
    width: 96px;
    height: 96px;
    position: absolute;
    clip-path: polygon(53% 5%, 80% 50%, 52% 100%, 0% 101%);
    top: -23px;
    left: 65px;
    transform: rotate(61deg);

}

.hexa3 {
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(50% 14%, 74% 50%, 47% 100%, -3% 104%);
    top: 100px;
    left: 100px;
    transform: rotate(180deg);


}

.hexa4 {
background: black;
    width: 95px;
    height: 96px;
    position: absolute;
    clip-path: polygon(55% 6%, 79% 52%, 51% 100%, 0 100%);
    top: 126px;
    left: 39px;
    transform: rotate(-120deg);

}

.hexa5 {
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(51% 7%, 77% 49%, 50% 98%, 0 100%);
    top: 27px;
    left: 116px;
    transform: rotate(123deg);
}

.hexa6 {
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 4%, 77% 49%, 47% 97%, 3% 95%);
    top: 73px;
    left: -17px;
    transform: rotate(-59deg);

}

.hexa7 {
    background: #000000;
    width: 188px;
    height: 73px;
    position: absolute;
    top: 61px;
    left: 3px;
    transform: rotate(-180deg);
    clip-path: polygon(0 30%, 100% 30%, 100% 63%, 0 64%);
}

.hexa8 {
    background: black;
    width: 196px;
    height: 75px;
    position: absolute;
    top: 63px;
    left: 0px;
    transform: rotate(-298deg);
    clip-path: polygon(0 30%, 100% 30%, 100% 63%, 0 64%);
    z-index: 20;
}

.hexa9 {
         background: black;
    width: 196px;
    height: 77px;
    position: absolute;
    top: 61px;
    left: 0px;
    transform: rotate(-242deg);
    clip-path: polygon(0 30%, 100% 30%, 100% 63%, 0 64%);
}

.hexa10 {
    background: black;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 113px;
    left: 9px;
    transform: rotate(-270deg);
    clip-path: polygon(0 28%, 53% 30%, 53% 63%, 0 64%);
}

.hexa11 {
	
	clip-path: polygon(65% 0, 35% 0, 50% 25%);
    background: black;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 50px;
    left: 14px;
    transform: rotate(-360deg);
    z-index: 10;
}

.hexa12 {
background: black;
    width: 96px;
    height: 96px;
    position: absolute;
    clip-path: polygon(52% 7%, 78% 52%, 52% 99%, 0 102%);
    top: 119px;
    left: 116px;
    transform: rotate(61deg);

}
.hexa13{
    background: black;
    width: 273px;
    height: 148px;
    position: absolute;
    top: 112px;
    left: -42px;
    transform: rotate(-270deg);
    clip-path: polygon(0 28%, 53% 30%, 53% 63%, 0 64%);
}

.hexa14 {
	
	clip-path: polygon(66% 0, 35% 0, 50% 34%);
    background: black;
    width: 172px;
    height: 148px;
    position: absolute;
    top: 2px;
    left: 15px;
    transform: rotate(-540deg);
    z-index: 10;
}


.hexa15 {
	
	background: #000000;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 31px;
    left: 29px;
    transform: rotate(-540deg);
    z-index: 10;
    clip-path: polygon(6% 39%, 0% 51%, 8% 67%);
}

.hexa16 {
	
	    
    background: #000000;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 25px;
    left: 0px;
    transform: rotate(-720deg);
    z-index: 10;
    clip-path: polygon(4% 42%, 0% 51%, 4% 59%);
}

.hexa17 {
	
	    
    background: #000000;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 9px;
    left: 6px;
    transform: rotate(-658deg);
    z-index: 10;
    clip-path: polygon(4% 42%, 0% 51%, 4% 59%);
}

.hexa18 {
	
	    background: black;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 42px;
    left: 21px;
    transform: rotate(-839deg);
    z-index: 10;
    clip-path: polygon(4% 42%, 0% 51%, 4% 59%);
    z-index: 20;
}

.hexa19 {
	
	background: black;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 36px;
    left: 4px;
    transform: rotate(-780deg);
    z-index: 10;
    clip-path: polygon(4% 43%, 0% 51%, 4% 59%);
    z-index: 20;
}

.hexa20 {
	
	background: #000000;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 15px;
    left: 22px;
    transform: rotate(-601deg);
    z-index: 10;
    clip-path: polygon(5% 42%, 0% 51%, 5% 62%);
    z-index: 20;
}

.hexa21 {
	
	background: black;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 33px;
    left: 31px;
    transform: rotate(-719deg);
    z-index: 10;
    clip-path: polygon(44% 37%, 40% 46%, 44% 53%, 0 54%, 0% 38%);
    z-index: 20;
}

.hexa22 {
background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(51% 8%, 77% 49%, 49% 98%, -1% 100%);
    top: 73px;
    left: 84px;
    transform: rotate(-58deg);
}

.hexa23 {
background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(50% 7%, 74% 50%, 47% 100%, 0 100%);
    top: 0px;
    left: 100px;
}


.hexa24 {
background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(51% 8%, 77% 49%, 49% 98%, -1% 100%);
    top: 73px;
    left: 82px;
    transform: rotate(-58deg);

}

.hexa25 {

background: black;
width: 96px;
height: 96px;
position: absolute;
clip-path: polygon(52% 7%, 78% 52%, 51% 100%, 0 100%);
top: 70px;
left: 17px;
transform: rotate(61deg);

}

.hexa26 {
        background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(50% 7%, 74% 50%, 47% 100%, 0 100%);
    top: -2PX;
    left: 101px;

}

.hexa27 {
background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(51% 8%, 77% 49%, 49% 98%, -1% 100%);
    top: 71px;
    left: 86px;
    transform: rotate(-58deg);

}

.hexa28 {
	
	    
   background: black;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 23px;
    left: 101PX;
    transform: rotate(-720deg);
    z-index: 10;
    clip-path: polygon(4% 42%, 0% 51%, 4% 59%);
}

.hexa29 {
background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(51% 8%, 77% 49%, 50% 98%, 0 100%);
    top: 27px;
    left: 18px;
    transform: rotate(123deg);
}

.hexa30 {
background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(50% 7%, 74% 50%, 47% 100%, 0 100%);
    top: 100px;
    left: 1px;
    transform: rotate(180deg);


}
.hexa31 {
    background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(49% 8%, 74% 49%, 47% 100%, 0 99%);
    top: 21px;
    left: 36px;
    transform: rotate(-118deg);
}

.hexa32 {
    background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 8%, 75% 50%, 47% 100%, 0 100%);
    top: 1px;
    left: 106px;
    transform: rotate(183deg);  


}

.hexa33 {
    background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(51% 8%, 77% 49%, 49% 98%, -2% 99%);
    top: -26px;
    left: -13px;
    transform: rotate(-58deg);

}


.hexa34 {
background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(50% 7%, 74% 50%, 47% 100%, 0 100%);
    top: 100px;
    left: 0px;
    transform: rotate(180deg);


}
.hexa35 {
    background: black;
    width: 95px;
    height: 96px;
    position: absolute;
    clip-path: polygon(55% 7%, 81% 49%, 51% 100%, 0 101%);
    top: 127px;
    left: 39px;
    transform: rotate(-120deg);
}
.hexa36{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 4%, 77% 49%, 47% 97%, 0% 98%);
    top: 74px;
    left: -17px;
    transform: rotate(-59deg);
}
.hexa37{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(49% 14%, 76% 50%, 47% 100%, -5% 107%);
    top: 106px;
    left: 100px;
    transform: rotate(180deg);
}
.hexa38{
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(50% 5%, 77% 49%, 50% 99%, 0 104%);
    top: 27px;
    left: 116px;
    transform: rotate(123deg);
} 
.hexa39{
background: #000000;
    width: 96px;
    height: 96px;
    position: absolute;
    clip-path: polygon(58% 8%, 80% 50%, 52% 100%, 6% 101%);
    top: -23px;
    left: 65px;
    transform: rotate(61deg);
}
.hexa40{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(49% 3%, 77% 47%, 47% 100%, 0% 100%);
    top: 1px;
    left: -3px;
   }
.hexa41{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(49% 13%, 76% 49%, 48% 100%, -3% 104%);
    top: 104px;
    left: 101px;
    transform: rotate(180deg);
}

.hexa42{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 4%, 81% 38%, 49% 97%, 3% 97%);
    top: 76px;
    left: -12px;
    transform: rotate(-58deg);

}
.hexa43{
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(54% 9%, 79% 51%, 51% 100%, 2% 99%);
    top: -2px;
    left: -6px;
}

.hexa44{
        background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(58% -5%, 81% 42%, 49% 105%, 7% 91%);
    top: 77px;
    left: -14px;
    transform: rotate(-58deg);
}
.hexa45{
    background: black;
    width: 95px;
    height: 96px;
    position: absolute;
    clip-path: polygon(55% 6%, 79% 52%, 51% 100%, 0 100%);
    top: 121px;
    left: 39px;
    transform: rotate(-120deg);
}

.hexa46{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(47% 6%, 76% 49%, 48% 99%, -1% 100%);
    top: 27px;
    left: 116px;
    transform: rotate(123deg);
}
.hexa47{
    background: #000000;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 23px;
    left: 30px;
    transform: rotate(-540deg);
    z-index: 10;
    clip-path: polygon(6% 39%, 0% 51%, 8% 67%);
}
.hexa48{
        background: #000000;
    width: 100px;
    height: 98px;
    position: absolute;
    clip-path: polygon(51% 7%, 81% 42%, 49% 99%, -7% 109%);
    top: 96px;
    left: 103px;
    transform: rotate(180deg);
}
.hexa49{
    background: black;
    width: 95px;
    height: 96px;
    position: absolute;
    clip-path: polygon(55% 6%, 79% 52%, 51% 100%, 0 100%);
    top: 121px;
    left: 39px;
    transform: rotate(-120deg);
}	

.hexa50{
background: black;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 37px;
    left: 23px;
    transform: rotate(-839deg);
    z-index: 10;
    clip-path: polygon(4% 42%, 0% 51%, 4% 59%);
    z-index: 20;
}
.hexa51{
        background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(55% 4%, 78% 43%, 51% 99%, 4% 96%);
    top: 73px;
    left: -17px;
    transform: rotate(-59deg);

}
.hexa52{
background: black;
    width: 95px;
    height: 96px;
    position: absolute;
   clip-path: polygon(55% 6%, 80% 50%, 51% 100%, 0 100%);
    top: 121px;
    left: 40px;
    transform: rotate(-120deg);
}

.hexa53{
background: black;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 31px;
    left: 31px;
    transform: rotate(-719deg);
    z-index: 10;
    clip-path: polygon(44% 37%, 40% 46%, 44% 53%, 0 54%, 0% 38%);
    z-index: 20;
}    
.hexa54{
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(54% 8%, 79% 51%, 51% 100%, 2% 100%);
    top: -2px;
    left: -6px;
}
.hexa55{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 8%, 79% 51%, 51% 100%, 0 100%);
    top: -2px;
    left: -6px;
}
.hexa56{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 8%, 79% 51%, 51% 100%, 0% 100%);
    top: -2px;
    left: -6px;
}
.hexa57{
    background: #000000;
    width: 96px;
    height: 96px;
    position: absolute;
    clip-path: polygon(53% 5%, 80% 50%, 52% 100%, 0% 101%);
    top: -23px;
    left: 63px;
    transform: rotate(61deg);
}    
.hexa58{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 4%, 79% 45%, 47% 97%, 2% 94%);
    top: 73px;
    left: -17px;
    transform: rotate(-59deg);

}
.hexa59{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(53% 8%, 79% 51%, 51% 100%, 0 100%);
    top: -2px;
    left: -6px;
}    
.hexa60{
background: #000000;
    width: 96px;
    height: 96px;
    position: absolute;
    clip-path: polygon(53% 5%, 80% 50%, 52% 100%, 0% 101%);
    top: -23px;
    left: 64px;
    transform: rotate(61deg);
}
.hexa61{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 4%, 79% 46%, 52% 98%, 4% 95%);
    top: 73px;
    left: -17px;
    transform: rotate(-59deg);
}
.hexa62{
    background: black;
    width: 95px;
    height: 96px;
    position: absolute;
    clip-path: polygon(55% 6%, 79% 52%, 48% 106%, 0% 100%);
    top: 121px;
    left: 39px;
    transform: rotate(-120deg);
}
.hexa63{
    background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(49% 8%, 75% 49%, 49% 98%, -1% 100%);
    top: 67px;
    left: 86px;
    transform: rotate(-58deg);

}
.hexa64{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 8%, 79% 51%, 51% 100%, -1% 102%);
    top: -2px;
    left: -6px;
}
.hexa65{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 4%, 77% 49%, 47% 98%, 3% 94%);
    top: 73px;
    left: -17px;
    transform: rotate(-59deg);
}    
.hexa66{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(47% 9%, 77% 49%, 49% 101%, 0 100%);
    top: 27px;
    left: 116px;
}
.hexa67{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(47% 9%, 77% 49%, 50% 100%, 0% 100%);
    top: 27px;
    left: 116px;
    transform: rotate(123deg);
}
.hexa68{
background: #000000;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 24px;
    left: 29px;
    transform: rotate(-540deg);
    z-index: 10;
    clip-path: polygon(6% 39%, 0% 51%, 8% 67%);
}
.hexa69{
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(49% 14%, 74% 50%, 47% 100%, -3% 104%);
    top: 100px;
    left: 100px;
    transform: rotate(180deg);
}
.hexa70{
    background: black;
    width: 171px;
    height: 136px;
    position: absolute;
    top: 113px;
    left: 9px;
    transform: rotate(-270deg);
    clip-path: polygon(0 28%, 53% 30%, 53% 63%, 0 64%);
}
.hexa71{
       background: #000000;
    width: 100px;
    height: 101px;
    position: absolute;
    clip-path: polygon(46% 7%, 78% 48%, 49% 98%, -5% 106%);
    top: 27px;
    left: 116px;
    transform: rotate(123deg);

}
.hexa72{
        background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(53% 6%, 79% 49%, 51% 101%, 3% 97%);
    top: 73px;
    left: -17px;
    transform: rotate(-59deg);
}
.hexa73{
background: black;
    width: 95px;
    height: 96px;
    position: absolute;
    clip-path: polygon(55% 6%, 80% 52%, 51% 102%, 1% 100%);
    top: 122px;
    left: 40px;
    transform: rotate(-120deg);
}
.hexa74{
    background: black;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 37px;
    left: 23px;
    transform: rotate(-839deg);
    z-index: 10;
    clip-path: polygon(4% 42%, 0% 51%, 4% 59%);
    z-index: 20;
}
.hexa75{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(47% 14%, 75% 50%, 48% 100%, -5% 104%);
    top: 100px;
    left: 100px;
    transform: rotate(180deg);
}
.hexa76{
     background: #000000;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 100px;
    left: 134px;
    transform: rotate(-654deg);
    z-index: 10;
    clip-path: polygon(6% 39%, 0% 51%, 8% 67%);
}
.hexa77{
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(53% 8%, 79% 51%, 51% 100%, 0 100%);
    top: -2px;
    left: -6px;
}

.hexa78{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 4%, 79% 45%, 47% 97%, 3% 95%);
    top: 73px;
    left: -17px;
    transform: rotate(-59deg);

}    
.hexa79{
    background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(53% 7%, 76% 49%, 46% 100%, 0 100%);
    top: 0px;
    left: 100px;
}	
.hexa80{
background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(51% 8%, 77% 50%, 51% 99%, 7% 100%);
    top: 73px;
    left: 82px;
    transform: rotate(-58deg);
}

.hexa81{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(50% 8%, 79% 51%, 51% 100%, -1% 101%);
    top: -2px;
    left: -5px;
}

.hexa82{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 4%, 79% 47%, 49% 100%, 3% 94%);
    top: 73px;
    left: -17px;
    transform: rotate(-59deg);

}
.hexa83{
    background: black;
    width: 95px;
    height: 96px;
    position: absolute;
    clip-path: polygon(55% 6%, 79% 52%, 51% 100%, 0 100%);
    top: 121px;
    left: 37px;
    transform: rotate(-120deg);
}

.hexa84{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(50% 13%, 76% 54%, 47% 100%, -3% 105%);
    top: 100px;
    left: 100px;
    transform: rotate(180deg);
}    

.hexa85{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(53% 8%, 79% 52%, 52% 100%, 0% 100%);
    top: -2px;
    left: -6px;
}    

.hexa86{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 4%, 80% 45%, 47% 97%, 3% 95%);
    top: 73px;
    left: -17px;
    transform: rotate(-59deg);
}

.hexa87{
    background: #000000;
    width: 97px;
    height: 97px;
    position: absolute;
    clip-path: polygon(53% 5%, 80% 50%, 52% 100%, 0% 101%);
    top: -23px;
    left: 64px;
    transform: rotate(61deg);

}
.hexa88{
clip-path: polygon(65% 0, 35% 0, 50% 25%);
    background: black;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 50px;
    left: 13px;
    transform: rotate(-360deg);
    z-index: 10;

}
.hexa89{
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(48% 5%, 77% 47%, 50% 98%, -1% 100%);
    top: 27px;
    left: 116px;
    transform: rotate(123deg);
}

.hexa90{
    background: #000000;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 27px;
    left: 29px;
    transform: rotate(-540deg);
    z-index: 10;
    clip-path: polygon(6% 39%, 0% 51%, 8% 67%);
}
.hexa91{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(48% 14%, 74% 50%, 47% 100%, -4% 104%);
    top: 100px;
    left: 100px;
    transform: rotate(180deg);
}
.hexa92{
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 8%, 79% 51%, 51% 102%, 0% 101%);
    top: -2px;
    left: -6px;
}
.hexa93{
background: #000000;
    width: 96px;
    height: 96px;
    position: absolute;
    clip-path: polygon(53% 5%, 80% 50%, 52% 100%, 0% 101%);
    top: -23px;
    left: 64px;
    transform: rotate(61deg);
}    
.hexa94{

background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 4%, 79% 47%, 48% 97%, 2% 95%);
    top: 73px;
    left: -17px;
    transform: rotate(-59deg);
}    
.hexa95{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(48% 7%, 77% 48%, 50% 98%, 0% 100%);
    top: 26px;
    left: 115px;
    transform: rotate(123deg);
}

.hexa96{
    background: #000000;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 25px;
    left: 29px;
    transform: rotate(-540deg);
    z-index: 10;
    clip-path: polygon(6% 39%, 0% 51%, 8% 67%);
}    
.hexa97{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(50% 11%, 74% 51%, 47% 100%, -3% 104%);
    top: 98px;
    left: 100px;
    transform: rotate(180deg);
}    

.hexa98{
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(53% 8%, 79% 51%, 51% 100%, 0 100%);
    top: -2px;
    left: -6px;
}    
.hexa99{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 4%, 79% 46%, 49% 99%, 3% 98%);
    top: 73px;
    left: -17px;
    transform: rotate(-59deg);
}   

.hexa100{
    background: black;
    width: 95px;
    height: 96px;
    position: absolute;
    clip-path: polygon(52% 9%, 79% 52%, 51% 100%, -1% 100%);
    top: 122px;
    left: 37px;
    transform: rotate(-120deg); 

}    
.hexa101{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(50% 12%, 77% 50%, 48% 100%, -5% 104%);
    top: 100px;
    left: 100px;
    transform: rotate(180deg);
}    
.hexa102{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(49% 6%, 77% 49%, 50% 98%, -1% 101%);
    top: 27px;
    left: 116px;
    transform: rotate(123deg);
}    
.hexa103{
    background: #000000;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 27px;
    left: 29px;
    transform: rotate(-540deg);
    z-index: 10;
    clip-path: polygon(6% 39%, 0% 51%, 8% 67%);
}    
.hexa104{
    background: #000000;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 27px;
    left: 29px;
    transform: rotate(-540deg);
    z-index: 10;
    clip-path: polygon(6% 39%, 0% 51%, 8% 67%);
}    
.hexa105{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 8%, 79% 51%, 51% 100%, 0% 101%);
    top: -2px;
    left: -6px;
}
.hexa106{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 4%, 77% 49%, 47% 97%, 2% 95%);
    top: 73px;
    left: -17px;
    transform: rotate(-59deg);
}
.hexa107{
    background: #000000;
    width: 96px;
    height: 96px;
    position: absolute;
    clip-path: polygon(53% 5%, 80% 50%, 52% 100%, 0% 101%);
    top: -23px;
    left: 63px;
    transform: rotate(61deg);
}
.hexa108{
    background: #000000;
    width: 188px;
    height: 73px;
    position: absolute;
    top: 64px;
    left: 4px;
    transform: rotate(-180deg);
    clip-path: polygon(0 30%, 100% 30%, 100% 63%, 0 64%);
}
.hexa109{
background: #000000;
    width: 98px;
    height: 97px;
    position: absolute;
    clip-path: polygon(48% 4%, 77% 49%, 50% 101%, 0% 100%);
    top: 26px;
    left: 115px;
    transform: rotate(123deg);
}
.hexa110{
background: #000000;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 24px;
    left: 29px;
    transform: rotate(-540deg);
    z-index: 10;
    clip-path: polygon(6% 39%, 0% 51%, 8% 67%);
}
.hexa111{
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(53% 8%, 79% 51%, 51% 100%, 0% 100%);
    top: -2px;
    left: -6px;
}
.hexa112{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 4%, 79% 46%, 49% 100%, 4% 96%);
    top: 73px;
    left: -17px;
    transform: rotate(-59deg);
}    

.hexa113{
background: black;
    width: 95px;
    height: 96px;
    position: absolute;
    clip-path: polygon(55% 6%, 79% 49%, 51% 96%, 0% 100%);
    top: 121px;
    left: 40px;
    transform: rotate(-120deg);
}    

.hexa114{
    background: black;
    width: 96px;
    height: 96px;
    position: absolute;
    clip-path: polygon(52% 7%, 78% 48%, 49% 99%, 0 102%);
    top: 116px;
    left: 120px;
    transform: rotate(61deg);
}
.hexa115{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(46% 8%, 77% 48%, 50% 98%, -1% 100%);
    top: 27px;
    left: 116px;
    transform: rotate(123deg);
}
.hexa116{
background: #000000;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 24px;
    left: 30px;
    transform: rotate(-540deg);
    z-index: 10;
    clip-path: polygon(6% 39%, 0% 51%, 8% 67%);
}    
.hexa117{

background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(50% 14%, 74% 50%, 47% 100%, -3% 104%);
    top: 97px;
    left: 102px;
    transform: rotate(180deg);
}
.hexa118{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(46% 7%, 77% 49%, 50% 98%, -1% 100%);
    top: 27px;
    left: 116px;
    transform: rotate(123deg);
}

.hexa119{
background: #000000;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 25px;
    left: 30px;
    transform: rotate(-540deg);
    z-index: 10;
    clip-path: polygon(7% 37%, 0% 51%, 8% 67%);
}    
.hexa120{
background: #000000;
    width: 183px;
    height: 73px;
    position: absolute;
    top: 67px;
    left: 8px;
    transform: rotate(-180deg);
    clip-path: polygon(0 30%, 100% 30%, 100% 63%, 0 64%);

}    

.hexa121{
    background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(51% 8%, 77% 49%, 49% 98%, 7% 100%);
    top: 74px;
    left: 82px;
    transform: rotate(-58deg);
}    
.hexa122{
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(54% 8%, 79% 51%, 51% 100%, 2% 100%);
    top: -2px;
    left: -6px;
}
.hexa123{
background: black;
    width: 96px;
    height: 96px;
    position: absolute;
    clip-path: polygon(52% 7%, 78% 51%, 51% 98%, 0% 100%);
    top: 68px;
    left: 14px;
    transform: rotate(61deg);
}    
.hexa124{
    background: black;
    width: 95px;
    height: 96px;
    position: absolute;
    clip-path: polygon(55% 6%, 79% 52%, 51% 100%, 0 100%);
    top: 121px;
    left: 39px;
    transform: rotate(-120deg);
}
.hexa125{
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(51% 13%, 75% 55%, 47% 100%, -4% 103%);
    top: 100px;
    left: 102px;
    transform: rotate(180deg);
}    
.hexa126{

        background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(53% 8%, 79% 51%, 51% 100%, 1% 100%);
    top: -2px;
    left: -5px;


}   
.hexa127{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(46% 6%, 74% 49%, 50% 98%, -1% 100%);
    top: 27px;
    left: 116px;
    transform: rotate(123deg); 
}    
.hexa128{
    background: black;
    width: 273px;
    height: 148px;
    position: absolute;
    top: 104px;
    left: -42px;
    transform: rotate(-270deg);
    clip-path: polygon(0 28%, 53% 30%, 53% 63%, 0 64%);
}
.hexa129{
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(54% 8%, 79% 51%, 51% 100%, 2% 100%);
    top: -2px;
    left: -6px;
}	    
.hexa130{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(53% 6%, 79% 46%, 52% 101%, 4% 97%);
    top: 73px;
    left: -17px;
    transform: rotate(-59deg);
}    
.hexa131{
background: black;
    width: 95px;
    height: 96px;
    position: absolute;
    clip-path: polygon(55% 6%, 79% 52%, 51% 100%, 0 100%);
    top: 121px;
    left: 40px;
    transform: rotate(-120deg);
}    
.hexa132{

background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(48% 14%, 74% 50%, 47% 100%, -7% 104%);
    top: 100px;
    left: 100px;
    transform: rotate(180deg);
}
.hexa133{
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(48% 5%, 77% 47%, 47% 98%, 0% 97%);
    top: 27px;
    left: 116px;
    transform: rotate(123deg);
}
.hexa134{
background: #000000;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 28px;
    left: 31px;
    transform: rotate(-540deg);
    z-index: 10;
    clip-path: polygon(6% 39%, 0% 51%, 8% 67%);
}    
.hexa135{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(53% 7%, 78% 49%, 48% 100%, 3% 97%);
    top: 73px;
    left: -17px;
    transform: rotate(-59deg);
}    
.hexa136{
background: black;
    width: 95px;
    height: 96px;
    position: absolute;
    clip-path: polygon(58% 9%, 79% 52%, 51% 100%, 6% 100%);
    top: 126px;
    left: 39px;
    transform: rotate(-120deg);
}    
.hexa137{
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(50% 12%, 76% 50%, 47% 100%, -4% 104%);
    top: 100px;
    left: 100px;
    transform: rotate(180deg);

}
.hexa138{
    background: black;
    width: 95px;
    height: 96px;
    position: absolute;
    clip-path: polygon(60% 9%, 79% 52%, 51% 100%, 6% 100%);
    top: 126px;
    left: 39px;
    transform: rotate(-120deg);  
}      
.hexa139{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(50% 12%, 74% 50%, 47% 100%, -4% 105%);
    top: 100px;
    left: 100px;
    transform: rotate(180deg);
}    
.hexa140{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(54% 9%, 79% 51%, 51% 100%, 2% 100%);
    top: -2px;
    left: -6px;
}
.hexa141{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(54% 5%, 80% 46%, 49% 98%, 3% 97%);
    top: 73px;
    left: -17px;
    transform: rotate(-59deg);
}
.hexa142{
background: black;
    width: 95px;
    height: 96px;
    position: absolute;
    clip-path: polygon(55% 6%, 79% 52%, 51% 100%, 0 100%);
    top: 122px;
    left: 40px;
    transform: rotate(-120deg);
}    
.hexa143{
background: black;
    width: 95px;
    height: 96px;
    position: absolute;
    clip-path: polygon(55% 6%, 79% 52%, 51% 100%, 0 100%);
    top: 122px;
    left: 39px;
    transform: rotate(-120deg);
}
.hexa144{
    clip-path: polygon(66% 0, 35% 0, 50% 34%);
    background: black;
    width: 172px;
    height: 148px;
    position: absolute;
    top: 0px;
    left: 15px;
    transform: rotate(-540deg);
    z-index: 10;
}    
.hexa145{
    background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(49% 13%, 74% 50%, 47% 100%, -7% 104%);
    top: 100px;
    left: 100px;
    transform: rotate(180deg);
}
.hexa146{
background: #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(47% 6%, 78% 47%, 47% 98%, 0% 100%);
    top: 27px;
    left: 116px;
    transform: rotate(123deg);
}    

.hexa147{
background: #000000;
    width: 173px;
    height: 148px;
    position: absolute;
    top: 27px;
    left: 31px;
    transform: rotate(-540deg);
    z-index: 10;
    clip-path: polygon(6% 39%, 0% 51%, 8% 67%);

 }   
.hexa148{
        background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(51% 7%, 76% 46%, 50% 97%, 0% 100%);
    top: 26px;
    left: 12px;
    transform: rotate(123deg);

}    
.hexa149{
        background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 12%, 74% 50%, 49% 100%, 3% 100%);
    top: 99px;
    left: 1px;
    transform: rotate(180deg);
}    
.hexa150{
background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(50% 7%, 75% 50%, 47% 100%, 0% 100%);
    top: -2PX;
    left: 101px;
}    
.hexa151{
background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(51% 8%, 77% 46%, 49% 97%, 2% 98%);
    top: 71px;
    left: 86px;
    transform: rotate(-58deg);
}   
.hexa152{
    background: black;
    width: 251px;
    height: 132px;
    position: absolute;
    top: 112px;
    left: -32px;
    transform: rotate(-270deg);
    clip-path: polygon(0 28%, 53% 30%, 53% 63%, 0 64%);
}    
.hexa153{
    background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(50% 5%, 77% 49%, 48% 104%, -1% 101%);
    top: 26px;
    left: 36px;
    transform: rotate(-118deg);
}    
.hexa154{
background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(51% 8%, 77% 53%, 49% 98%, -2% 99%);
    top: -1px;
    left: -1px;
    transform: rotate(1deg);
}    
.hexa155{
background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(49% 7%, 76% 50%, 47% 117%, 0 100%);
    top: 25px;
    left: 117px;
    transform: rotate(122deg);
}    
.hexa156{
        background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(52% 11%, 74% 50%, 47% 100%, -1% 100%);
    top: 97px;
    left: 0px;
    transform: rotate(180deg);
}   
.hexa157{
    background: black;
    width: 95px;
    height: 96px;
    position: absolute;
    clip-path: polygon(55% 6%, 81% 49%, 51% 100%, 0 100%);
    top: 121px;
    left: 39px;
    transform: rotate(-120deg);
}    
/*Typeface*/
.DanType{
	position: absolute;
	transform: rotate(0deg);
}

.DanTypeA{
	left: 1px;
	top: 0px;
	z-index: 21;
}
.DanTypeB{
	left: calc(120*1px);
	top: 0px;
}
.DanTypeC{
	left: calc(120*2px);
	top: 0px;
}
.DanTypeD{
	left: calc(120*3px);
	top: 0px;
}
.DanTypeE{
	left: calc(120*4px);
	top: 0px;
}
.DanTypeF{
	left: calc(120*5px);
	top: 0px;
}
.DanTypeG{
	left: calc(120*6px);
	top: 0px;
}
.DanTypeH{
	left: calc(120*7px);
	top: 0px;
}
.DanTypeI{
	left: calc(120*8px);
	top: 0px;
}
.DanTypeJ{
	left: calc(120*9px);
	top: 0px;
}
.DanTypeK{
	left: calc(120*10px);
	top: 0px;
}
.DanTypeL{
	left: calc(120*11px);
	top: 0px;
}
.DanTypeM{
	left: calc(120*12px);
	top: 0px;
}
.DanTypeN{
	left: calc(120*13px);
	top: 0px;
}
.DanTypeO{
	left: calc(120*14px);
	top: 0px;
}
.DanTypeP{
	left: calc(120*15px);
	top: 0px;
}
.DanTypeQ{
	left: calc(120*16px);
	top: 0px;
}
.DanTypeR{
	left: calc(120*17px);
	top: 0px;
}




/*TypefaceFrame*/
.typefaceFrame{
	position: absolute;
	opacity: 1;
	
}

.Aa{
	left: 10px;
	top: 100px;
	

}

.containerF{
	/*background: skyblue;*/
	position: relative;
	float: left;
	width: 2033px;
	height: 200px;
	margin-bottom:-96px;
}

/*HEXATYPE*/

.hexagroupTYPE{
	position: absolute;
	top: -26px;
	left: -213px;
	/*transition: 1s;*/
}

/*.hexagroupTYPE:hover{
	transform: rotate(0deg) translate(100px);	
}*/
.hexagroupTYPE1{

}

	.TYPE1BP{
		top:10px;
		left: 111px;
		z-index: 19;
	}
	.TYPE1RP{
		top: -23px;
		left: 130px;
		z-index: 10;
	}
	.TYPE1YP{
		top: -75px;
		left: 160px;
		z-index: 9;
	}

.hexagroupTYPE2{

}

/*	.TYPE2YP{
		top: 30px;
		left: 100px;
		z-index: 19;
	}
	.TYPE2RP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}
	.TYPE2BP{
		top: -74px;
		left: 160px;
		z-index: 9;
		
	}
*/
.hexagroupTYPE3{

}

	.TYPE3BKP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE3RP{
		top: 10px;
		left: 112px;
		z-index: 19;
		
	}
	.TYPE3BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}

.hexagroupTYPE4{

}

	.TYPE4BP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE4RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE4YP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}

.hexagroupTYPE5{

}

	.TYPE5BKP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE5RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE5BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}
.hexagroupTYPE6{

}

	.TYPE6YP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE6RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE6BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}	
	
.hexagroupTYPE7{

}

	.TYPE7BKP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE7RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE7BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}	
.hexagroupTYPE8{

}

	.TYPE8YP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE8RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE8BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}

.hexagroupTYPE9{

}

	.TYPE9BKP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE9RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE9BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}

.hexagroupTYPE10{

}

	.TYPE10YP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE10RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE10BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}

.hexagroupTYPE11{

}

	.TYPE11BKP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE11RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE11BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}

.hexagroupTYPE12{

}

	.TYPE12YP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE12RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE12BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}		
.hexagroupTYPE13{

}

	.TYPE13BKP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE13RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE13BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}	

.hexagroupTYPE14{

}

	.TYPE14YP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE14RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE14BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}	

.hexagroupTYPE15{

}

	.TYPE15BKP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE15RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE15BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}	

.hexagroupTYPE16{

}

	.TYPE16YP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE16RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE16BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}	

.hexagroupTYPE17{

}

	.TYPE17BKP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE17RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE17BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}	

.hexagroupTYPE18{

}

	.TYPE18YP{
		top: -74px;
		left: 160px;
		z-index: 9;
	}
	.TYPE18RP{
		top: 30px;
		left: 100px;
		z-index: 19;
		
	}
	.TYPE18BP{
		top: -22px;
		left: 130px;
		z-index: 10;
		
	}	


	
		

/*HEXATYPE END*/


/*HEXACOLOR*/
.hexagongroupYellow {
	position: absolute;

}
	.hexagon-10{
	float: left;
	border-right: 30px solid #E5E243;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
	top: 100px;
	left: 113px;
	z-index: 11;
	position: absolute;
	}

	.hexagon-11{
	float: left;
	width: 60px;
	height: 104px;
	background-color: #E5E243;
	top: 100px;
	left: 143px;
	position: absolute;
	z-index: 12;
	}
	.hexagon-12{
	float: left;
	border-left: 30px solid #E5E243;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
	z-index: 10;
	top: 100px;
	left: 203px;
	position: absolute;
	}
	
	

.hexagongroupRed {
position: absolute;

}
	.hexagon-13{
	float: left;
	border-right: 30px solid #D8221D;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
	top: 100px;
	left: 113px;
	z-index: 11;
	position: absolute;


	}

	.hexagon-14{
	float: left;
	width: 60px;
	height: 104px;
	background-color: #D8221D;
	top: 100px;
	left: 143px;
	position: absolute;
	z-index: 12;

	}

	.hexagon-15{
	float: left;
	border-left: 30px solid #D8221D;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
	z-index: 10;
	top: 100px;
	left: 203px;
	position: absolute;
	}



.hexagongroupBlue {
	
	position: absolute;
	z-index: 9;
}
	.hexagon-16{
		float: left;
		border-right: 30px solid #1A4492;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-17{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #1A4492;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-18{
		float: left;
		border-left: 30px solid #1A4492;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}





.hexagongroupBlack {
	position: absolute;
	z-index: 9;
}
	.hexagon-1{
		float: left;
		border-right: 30px solid #1A4492;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-2{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #1A4492;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-3{
		float: left;
		border-left: 30px solid #1A4492;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}

	.hexagon-4{
		float: left;
		border-right: 30px solid #6CBBA2;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-5{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #6CBBA2;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-6{
		float: left;
		border-left: 30px solid #6CBBA2;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}

	.hexagon-7{
		float: left;
		border-right: 30px solid #ffffff;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-8{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #67B032;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-9{
		float: left;
		border-left: 30px solid #67B032;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}


	.hexagongroupBlack {
	position: absolute;
	z-index: 9;
}
	.hexagon-1{
		float: left;
		border-right: 30px solid #ffffff;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-2{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #1A4492;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-3{
		float: left;
		border-left: 30px solid #1A4492;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}

	.hexagon-4{
		float: left;
		border-right: 30px solid #6CBBA2;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-5{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #6CBBA2;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-6{
		float: left;
		border-left: 30px solid #6CBBA2;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}

	.hexagon-7{
		float: left;
		border-right: 30px solid #67B032;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-8{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #67B032;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-9{
		float: left;
		border-left: 30px solid #67B032;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}

	.hexagongroupBlack {
	position: absolute;
	z-index: 9;
}
	.hexagon-1{
		    float: left;
    border-right: 30px solid #1A4492;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    top: 100px;
    left: 113px;
    z-index: 11;
    position: absolute;
	}

	.hexagon-2{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #1A4492;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-3{
		float: left;
		border-left: 30px solid #1A4492;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 202px;
		position: absolute;
	}

	.hexagon-4{
		float: left;
		border-right: 30px solid #6CBBA2;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-5{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #6CBBA2;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-6{
		float: left;
		border-left: 30px solid #6CBBA2;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}

	.hexagon-7{
		float: left;
		border-right: 30px solid #67B032;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-8{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #67B032;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-9{
		float: left;
		border-left: 30px solid #67B032;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}



	



/*HEXACOLOR END*/



/*hexgroup1 end*/


/*.3hexagroup {
top: 20px;
left: 20px;
z-index: 10;
position: absolute;
}



.hexagon-01{
float: left;
border-right: 30px solid #E5E243;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
top: 99px;
left: 113px;
z-index: 11;
position: relative;


}

.hexagon-02{
float: left;
width: 60px;
height: 104px;
background-color: #E5E243;
top: 100px;
left: 143px;
position: absolute;
z-index: 12;

}

.hexagon-03{
float: left;
border-left: 30px solid #E5E243;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
z-index: 10;
top: 100px;
left: 203px;
position: absolute;
}



.hexagon-04{
float: left;
border-right: 30px solid #D8221D;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
top: 100px;
left: 113px;
z-index: 11;
position: absolute;


}

.hexagon-05{
float: left;
width: 60px;
height: 104px;
background-color: #D8221D;
top: 100px;
left: 143px;
position: absolute;
z-index: 12;

}

.hexagon-06{
float: left;
border-left: 30px solid #D8221D;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
z-index: 10;
top: 100px;
left: 203px;
position: absolute;
}



.hexagon-07{
float: left;
border-right: 30px solid #1A4492;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
top: 100px;
left: 113px;
z-index: 11;
position: absolute;


}

.hexagon-08{
float: left;
width: 60px;
height: 104px;
background-color: #1A4492;
top: 100px;
left: 143px;
position: absolute;
z-index: 12;

}

.hexagon-09{
float: left;
border-left: 30px solid #1A4492;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
z-index: 10;
top: 100px;
left: 203px;
position: absolute;
}


*/











