body {
margin: 0;	
}

.DanType:hover .TYPE3BKP{
	opacity: 0;
	transition: 400ms all;
	transform: translate(1px,-1px) scale(0.57);
}





.hexagongroupBlack {
	position: absolute;
	z-index: 9;
}
	.hexagon-1{
		float: left;
		border-right: 30px solid #1A4492;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		top: 100px;
		left: 113px;
		z-index: 11;
		position: absolute;
	}

	.hexagon-2{
		float: left;
		width: 60px;
		height: 104px;
		background-color: #1A4492;
		top: 100px;
		left: 143px;
		position: absolute;
		z-index: 12;

	}

	.hexagon-3{
		float: left;
		border-left: 30px solid #1A4492;
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
		z-index: 10;
		top: 100px;
		left: 203px;
		position: absolute;
	}